$component-bg: #ffffff;
$main-bg: #f6f7fa;
$new-list-item-bg: #f4f5f8;
$component-border: #e9ecf1;
$icon-color: #1b2640;
$selected-sidenav-list-item-bg: #122143;
$sidenav-bg: #0e1a35;
$primary-text-color: #0e1a35;
$secondary-text-color: #8492af;
$button-color: #5384ff;
$dropdown-chip-border: #dadee7;
$task-list-secondary: #f83c7b;
$default-dark: #000000;
$default-light: #ffffff;
$sidenav-seperator: #0a0a0f;
