@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,600');

// Setting color constants for unified styling
@import './styles/colors';

// font-awsome icons
$fa-font-path : '../node_modules/font-awesome/fonts';
@import '../node_modules/font-awesome/scss/font-awesome';

// Even though I'm not using a theme here, I must put a built-in one in order to use Material Design
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// General styling
* {
  font-family: Roboto, Arial, sans-serif;
}

body {
  color: $primary-text-color;
  margin: 0;
  padding: 0;
}
